<form
  [formGroup]="addObjForm"
  *ngIf="showAddObj"
  class="add-form"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <div style="width: 690px">
    <label for="id">ID</label>
    <input
      class="form-control"
      type="text"
      name="id"
      formControlName="id"
      placeholder="Enter id"
    />
  </div>
  <div *ngIf="!id?.valid && (id?.dirty || id?.touched)">
    <label [hidden]="!id.errors.required" style="color: red; font-size: 14px"
      >Id is required</label
    >
    <label [hidden]="!id.errors.maxlength" style="color: red; font-size: 14px"
      >Id is required</label
    >
  </div>

  <div style="width: 690px">
    <label for="name">Name</label>
    <input
      class="form-control"
      type="text"
      name="name"
      formControlName="name"
      placeholder="Enter name"
    />
    <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
      <label
        [hidden]="!name.errors.required"
        style="color: red; font-size: 14px"
        >Name is required</label
      >
    </div>
  </div>
  <div style="width: 690px">
    <label for="color">Color</label>
    <select
      class="form-control"
      type="text"
      name="color"
      formControlName="color"
      placeholder="Select color"
    >
      <option value="blue">0</option>
      <option value="red">1</option>
      <option value="violet">2</option>
      <option value="yellow">3</option>
    </select>
    <div *ngIf="!color?.valid && (color?.dirty || color?.touched)">
      <label
        [hidden]="!color.errors.required"
        style="color: red; font-size: 14px"
        >Please select a color</label
      >
    </div>
  </div>
  <input
    type="submit"
    value="Add Product"
    class="btn btn-block"
    style="width: 690px"
    [disabled]="!addObjForm.valid"
  />
</form>
